.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-image: url(weather-bg.jpg);
  background-size: cover;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to bottom left, #33ccff 0%, #0066ff 100%);
}