.viewWeather {
    display: flex;
    height: 50vh;
    justify-content: space-evenly;
    padding: 0 20%;
}

.viewWeather .hours {
    display: flex;
    flex-direction: column;
}

.viewWeather .temperatures {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

.chart{
    width: 100vw;
}

.chart .hoursThreeDays {
    display: flex;
    flex-direction: row;
}

.chart .temperaturesForChart {
    display: flex;
    flex-direction: row;
}

.hour {
    width: 100px;
}