.ViewWeatherForOne {
    margin-top: 20px;
    display: flex;
    height: 40vh;
    justify-content: space-evenly;
    flex-direction: row;
}

.BOX-ViewForOne {
    margin: 0 10px;
    width: 302px;
    padding: 10px 0;
    border: 1px solid white;
    display: flex;
    flex-direction: column-reverse;
}

p {
    margin: 0;
    color: white;
}

.Description {
    height: 64px;
    text-transform: capitalize;
    font-size: 1.5em;
}
