.App-logo {
    height: 20vmin;
    pointer-events: none;
}

.WeatherApp {
  overflow: hidden;
  height: 100%;
}
  
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
}

.SearchInput {
    border: 1px solid white;
    margin-top: 10px;
    background-color: transparent;
    line-height: 2;
    color: white;
}

.SearchInput:focus{
    outline:none;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media screen and (min-width: 1400px) {
    .WeatherApp {
      padding: 0 10%;
    }
  }